<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dalla Sicilia con Amore</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&family=Markazi+Text:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../assets/css/reset.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
</head>
<body class="page-home">
  <header class="header">
    <div class="header-logo">Dalla Sicilia con Amore</div>
    <nav class="header-nav">
      <a href="../../index.html" class="nav-link">Home</a>
      <a href="../menu.html" class="nav-link">Menu</a>
      <a href="../contact.html" class="nav-link">Contact</a>
    </nav>
  </header>
  
  <main class="dish-pages">
    <h2>Cannoli</h2>
    <h3>A tube-shaped Italian dessert that consists of fried pastry dough stuffed with a sweet, creamy cheese filling, garnished with chocolate shavings.<br><br>
    <img src="../../assets/img/menu/cannoli.webp" alt="Picture of Cannoli"><br>
    <h4>Allergy: Gluten and dairy.</h4><br>
    <h5> Dietary Info: 215 calories, 11.7 g fat, 22.1 g carbs and 4.4 g protein. <br> Ingredient List: All-purpose flour, granulated sugar, salt, unsalted butter, egg yolk, dry white wine, ricotta cheese, powdered sugar, ground cinnamon, allspice, heavy cream, semisweet chocolate shavings, lemon, canola oil, and powdered sugar.
    </h5><br>
    <a href="../menu.html">
    <button class="dish-pages-button" type="button">Back to Menu</button></h3></a><br><br>
  </main>
  
  <footer class="footer-thank-you">
      <h4>
        Operating Hours: 11:00 AM - 9:30 PM; Tuesday - Saturday Closed; Sunday -
        Monday
      </h4>
      <h4>Address: 321 W Main St, Italy, TX 76651</h4>
    </footer>
  </body>
</html>