<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dalla Sicilia con Amore</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&family=Markazi+Text:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../assets/css/reset.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
</head>
<body class="page-home">
  <header class="header">
    <div class="header-logo">Dalla Sicilia con Amore</div>
    <nav class="header-nav">
      <a href="../../index.html" class="nav-link">Home</a>
      <a href="../menu.html" class="nav-link">Menu</a>
      <a href="../contact.html" class="nav-link">Contact</a>
    </nav>
  </header>
  
  <main class="dish-pages">
    <h2>Muffuletta</h2>
    <h3>Sandwich made on Sicilian crispy sesame bread with mortadella, salami, cappacuolo, provolone, tomato, olive salad, pesto, and relish.<br><br>
    <img src="../../assets/img/menu/muffuletta.webp" alt="Picture of Muffuletta"><br>
    <h4>Allergy: Gluten, dairy, & tree nuts.</h4><br>
    <h5>Dietary Info: 710 calories, Carbs 33g, Fat 52g, Protein 26g. Ingredients List: Italian bread, olive salad, Capicola ham, Genoa salami, Mortadella, sliced mozzarella, and provolone.
    </h5><br>
    <a href="../menu.html">
    <button class="dish-pages-button" type="button">Back to Menu</button></h3></a><br><br>
  </main>
  
  <footer class="footer-thank-you">
      <h4>
        Operating Hours: 11:00 AM - 9:30 PM; Tuesday - Saturday Closed; Sunday -
        Monday
      </h4>
      <h4>Address: 321 W Main St, Italy, TX 76651</h4>
    </footer>
  </body>
</html>