<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dalla Sicilia con Amore</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Italianno&family=Markazi+Text:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/reset.css" />
  <link rel="stylesheet" href="../assets/css/style.css" />
</head>
<main class="page-home">
  <header class="header">
    <div class="header-logo">Dalla Sicilia con Amore</div>
    <nav class="header-nav">
      <a href="../index.html" class="nav-link">Home</a>
      <a href="./menu.html" class="nav-link-active">Menu</a>
      <a href="./contact.html" class="nav-link">Contact</a>
    </nav>
  </header>
  <main>
    <section class="menu">
      <h2>Menu:</h2>
      <h4>The finest traditional Sicilian recipes, made with only the freshest and highest quality ingredients. From
        tantalizing appetizers, to filling and delicious mains, and mouthwateringly crave-worthy desserts, we're
        bringing the flavors of Sicily right here to Texas!</h4>

      <h3>Appetizers:</h3><br>
      <div class="card-container">
        <a class="card" href="./detail-pages/arancini.html">
          <img class="menu-img" src="../assets/img/menu/arancini.webp" alt="Picture of Arancini" />
          <h4>
            Arancini, $10.00, Fried balls of Sicilian risotto stuffed with
            mozzarella cheese. Served with marinara.
          </h4>
        </a>
        <a class="card" href="./detail-pages/caprese.html">
          <img class="menu-img" src="../assets/img/menu/Caprese.webp" alt="Picture of Caprese Salad" />
          <h4>
            Caprese Salad, $7.00, A fresh salad made from tomato wedges,
            sliced mozzarella, and fresh basil garnished with olive oil, salt,
            and capers.
          </h4>
        </a>
      </div>
      <h3>Main Dish:</h3>
      <div class="card-container">
        <a class="card" href="./detail-pages/muffuletta.html">
          <img class="menu-img" src="../assets/img/menu/muffuletta.webp" alt="Picture of Muffuletta" />
          <h4>
            Muffuletta, $12.00, Sandwich made on Sicilian crispy sesame bread
            with mortadella, salami, cappacuolo, provolone, tomato, olive
            salad, pesto, and relish.
          </h4>
        </a>
        <a class="card" href="./detail-pages/pasta.html">
          <img class="menu-img" src="../assets/img/menu/penne.webp" alt="Picture of Pasta all’arrabbiata" />
          <h4>
            Pasta all’arrabbiata, $15.00, Penne pasta served in a spicy tomato
            sauce consisting of garlic, tomatoes, dried red chili peppers, and
            olive oil.
          </h4>
        </a>
      </div>
      <h3>Dessert:</h3>
      <div class="card-container">
        <a class="card" href="./detail-pages/cannoli.html">
          <img class="menu-img" src="../assets/img/menu/cannoli.webp" alt="Picture of Cannoli" />
          <h4>
            Cannoli, $8.00, A tube-shaped Italian dessert that consists of
            fried pastry dough stuffed with a sweet, creamy cheese filling,
            garnished with chocolate shavings.
          </h4>
        </a>
        <a class="card" href="./detail-pages/tiramisu.html">
          <img class="menu-img" src="../assets/img/menu/tiramasu.webp" alt="Picture of Tiramasu" />
          <h4>
            Tiramisu, $11.00, Slice of heaven made from pastries dipped in
            coffee and layered with whipped egg yolks, sugar, and mascarpone
            cheese. Sprinkled with cocoa powder. Served with a shot of
            espresso.
          </h4>
        </a>
      </div>
    </section><br>


    <div class="coming-soon">
      <a href="./coming-soon.html">
        <button class="coming-soon-button" type="button">Start an Order</button></a>
    </div>
    <br>

    <footer class="footer">
      <h4>
        Operating Hours: 11:00 AM - 9:30 PM; Tuesday - Saturday Closed; Sunday -
        Monday
      </h4>
      <h4>Address: 321 W Main St, Italy, TX 76651</h4>
    </footer>
  </main>
  </body>

</html>